.sectionImagesAnime{
    border: 1px solid white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-shadow: 0 0 4px 1px silver;
}

.divSectionImagesAnime{
    display: flex;
    justify-content: center;
    align-items: center;
}

.figureSectionImagesAnime{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 400px;
}

.divSectionImagesAnime{
    width: 100%;
    height: auto;
}



.divSectionImagesAnime img{
    width: 100%;
    height: 100%;
}